<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="PAT" value="63uprlttlpmgddqxvifqob4mnoxznfmidapy23uayw73xkulreha" /> <!--add your token here - this is a dummy one-->
    <add key="Org" value="" />
    <add key="ActiveProject" value="" />
    <add key="PollingInterval" value="" /> <!--in millieseconds-->
  </appSettings>
</configuration>